{
  "projects": [
    {
      "projectId": 000,
      "error_code": 500,
      "error_msg": "The API returned a Success code but the array was empty."
    },
    {
      "projectId": 001,
      "projectCode": "ABCD",
      "projectTitle": "Project of ABCD",
      "markers": {
        "uri": null,
        "value": "CYB",
        "defined_by": null,
        "definition": "mitochondrial cytocrhome B"
      },
      "expeditions": [
        {
          "expeditionId": 00001,
          "expeditionCode": "test_upload",
          "expeditionTitle": "test_upload spreadsheet",
          "ts": "2018-06-04 10:25:38",
          "user": {
            "userId": "",
            "username": "",
            "projectAdmin": "false"
          },
          "expeditionBcid": "",
          "entityBcids": "",
          "public": true
        },
      ]
    },
    {
      "projectId": 31,
      "error_code": 403,
      "error_msg": "You are not a member of this private project"
    },
    {
      "projectId": 34,
      "error_code": 500,
      "error_msg": "Server Error"
    }
  ]
}